<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" routerLink="/búsqueda">Búsqueda</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/peliculas/alta">Alta película</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/peliculas/listado">Listado películas</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/actor/alta">Alta actor</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/actor/listado">Listado Actores</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/actor/actorpelicula">Actores y peliculas</a>
            </li>
        </ul>
    </div>
</nav>