<p-table [value]="listado">
    <ng-template pTemplate="header">
        <tr>
            <th>Id</th>
            <th>Sexo</th>
            <th>email</th>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Fecha Nacimiento</th>
            <th>Foto</th>
            <th>Accion</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-elem>
        <tr>
            <td>{{elem.id}}</td>
            <td>{{elem.Sexo}}</td>
            <td>{{elem.email}}</td>
            <td>{{elem.Nombre}}</td>
            <td>{{elem.Apellido}}</td>
            <td>{{elem.FechaNac}}</td>
            <td>
                <img class="tabla-img" [src]="elem.FotoPerfil">
            </td>
            <td>
                <button (click)="ver(elem)" >Ver</button>
            </td>
        </tr>
    </ng-template>
</p-table>