<div class="container">
    <div class="row">
        <div class="col-md-6">
            <label for="inputEdadUno">Edad Uno</label>
            <input id="inputEdadUno" type="number" step="any" class="form-control" [(ngModel)]="edadUno" placeholder="Edad Uno">
        </div>
        <div class="col-md-6">
            <label for="inputEdadDos">Edad Dos</label>
            <input id="inputEdadDos" type="number" step="any" class="form-control" [(ngModel)]="edadDos" placeholder="Edad Dos">
        </div>
    </div>
</div>
<div class="container">
    <div class="row allign-items-start">
        <div class="col-md-12">
            <button class="btn btn-primary" (click)="Calcular()">Calcular</button>
            <button class="btn btn-secondary" (click)="Limpiar()">Limpiar cuadros de texto</button>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-6 input-group input-group-sm mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text" id="inputGroup-sizing-sm">Promedio</span>
            </div>
            <input type="text" class="form-control" disabled [(ngModel)]="promedio">
        </div>
        <div class="col-md-6 input-group input-group-sm mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text" id="inputGroup-sizing-sm">Suma</span>
            </div>
            <input type="text" class="form-control" disabled [(ngModel)]="suma">
        </div>
    </div>
</div>
<router-outlet></router-outlet>