<section class="jumbotron text-center">
    <div class="container">
      <h1 class="jumbotron-heading">Región {{region}}</h1>
      <p>
        <a (click)="seleccionar('europe')" class="btn btn-primary my-2">Europa</a>
        <a (click)="seleccionar('asia')" class="btn btn-primary my-2">Asia</a>
        <a (click)="seleccionar('americas')" class="btn btn-primary my-2">América</a>
        <a (click)="seleccionar('africa')" class="btn btn-primary my-2">África</a>
        <a (click)="seleccionar('oceania')" class="btn btn-primary my-2">Oceanía</a>
      </p>
    </div>
  </section>