<body class="bg-light">

    <div class="container">
        <div class="py-5 text-center">
            <h2>Alta película</h2>
        </div>

        <div class="row">
            <div class="col-md-4 order-md-2 mb-4">
                <h4 class="d-flex justify-content-between align-items-center mb-3">
                    <span class="text-muted">Seleccionar Actor</span>
                </h4>
                <ul class="list-group mb-3">
                    <app-tabla-actor (actorSeleccionado)="seleccionarActor($event)"></app-tabla-actor>
                </ul>
            </div>
            <div class="col-md-8 order-md-1">
                <h4 class="mb-3">Datos Película</h4>
                    <div class="mb-3">
                        <label for="username">Nombre</label>
                        <div >
                            <input type="text" [(ngModel)]="nombre" id="nombre" placeholder="Nombre" required>
                        </div>
                    </div>

                    <div class="mb-3">
                        <label for="username">Tipo</label>
                        <div >
                            <input type="text" [(ngModel)]="tipo" id="tipo" placeholder="Animada" required>
                        </div>
                    </div>

                    <div class="mb-3">
                        <label for="username">Fecha de estreno</label>
                        <div >
                            <input type="date"[(ngModel)]="fechaEstreno" id="fechaEstreno" placeholder="DD/MM/AAAA" required>
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="username">Cantidad de público</label>
                        <div >
                            <input type="number" [(ngModel)]="cantidadPublico" id="username" placeholder="Cantidad" required>
                        </div>
                    </div>
                    <button class="btn btn-primary btn-lg btn-block" (click)="guardar()" type="submit">Guardar Película</button>
            </div>
        </div>
    </div>
</body>